* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}
.favicon link{
    filter: invert(50%);
}
header {
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    text-align: center;

}

header .btn {
    position: absolute;
    top: 20px;
    right: 10px;

}

header .btn1,
header .btn2 {
    background-color: rgb(31, 31, 68);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

header .btn1:hover,
header .btn2:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(31, 31, 68);
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}
#home h1{
    font-family: cursive;
    font-weight: 800;
}

nav  a {
    list-style-type: none;
    padding: 0;
    display: inline;
    margin: 0 15px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    
}

nav  a:hover {
    color: goldenrod;
    font-size: 25px;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 40px;
}
.hr{
   background-color: black;
    height: 2px;
    width: 70%;
    left: 16%;
    position: absolute;
}

footer {
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: goldenrod;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

.img {
    margin-top: 70px;
    
}

.img img {
    width: 50px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 80%;
    padding: 15px 6px;
    filter: grayscale(1) brightness(100);
}

footer .img .img2 {
    filter: invert(100%);
}

footer .img img:hover {
    transform: scale(1.5, 1.5);
}

footer p {
    font-size: 20px;
    color: #fff;
}

footer h1 {
    position: absolute;
    right: 50px;
    top: 500%;
    color: #fff;
    font-weight: 400;
}

.Paint-coat {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10%;
    top: 30px;
}
.Paint-coat .card img{
    height: 300px;
}


.Paint-coat .card {
    margin: 40px 20px;
    border: 2px solid black;
}

.Paint-coat .card:hover {
    background-color: #cccccc;
    transform: scale(1.05, 1.05);
    transition: 1s;
    box-shadow: 5px 5px 10px rgb(88, 88, 88);
}

.shalwar-kameez {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10%;
    top: 30px;
}

.shalwar-kameez .card img{

    height: 350px;

}

.shalwar-kameez .card {
    margin: 40px 20px;
    border: 2px solid black;
}

.shalwar-kameez .card:hover {
    background-color: #cccccc;
    transform: scale(1.05, 1.05);
    transition: 1s;
    box-shadow: 5px 5px 10px rgb(88, 88, 88);
}



.waistcoat {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10%;
    top: 30px;
}

.waistcoat .card img{

    height: 300px;

}

.waistcoat .card {
    margin: 40px 20px;
    border: 2px solid black;
}

.waistcoat .card:hover {
    background-color: #cccccc;
    transform: scale(1.05, 1.05);
    transition: 1s;
    box-shadow: 5px 5px 10px rgb(88, 88, 88);
}



.women-suits {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10%;
    top: 30px;
}

.women-suits .card img{

    height: 300px;

}

.women-suits .card {
    margin: 40px 20px;
    border: 2px solid black;
}

.women-suits .card:hover {
    background-color: #cccccc;
    transform: scale(1.05, 1.05);
    transition: 1s;
    box-shadow: 5px 5px 10px rgb(88, 88, 88);
}
.bridal-dress {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10%;
    top: 30px;
}

.bridal-dress .card img{

    height: 350px;
}

.bridal-dress .card {
    margin: 40px 20px;
    border: 2px solid black;
}

.bridal-dress .card:hover {
    background-color: #cccccc;
    transform: scale(1.05, 1.05);
    transition: 1s;
    box-shadow: 5px 5px 10px rgb(88, 88, 88);
}


.maxi {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10%;
    top: 30px;
}

.maxi .card img{

    height: 300px;

}
.maxi .card {
    margin: 40px 20px;
    border: 2px solid black;
}

.maxi .card:hover {
    background-color: #cccccc;
    transform: scale(1.05, 1.05);
    transition: 1s;
    box-shadow: 5px 5px 10px rgb(88, 88, 88);
}
h3 {

    position: relative;
    top: 35px;
}
h1{
    position: relative;
    top: 40px;  
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid goldenrod;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    background-color: goldenrod;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
}

form button:hover {
    background-color: #fff;
    color: goldenrod;
    border: 2px solid goldenrod;
    font-size: 20px;
    font-weight: 900;
}

#about .image img {
    width: 50%;
    height: auto;
    position: relative;
    left: -300px;
}

#about .mission {
    width: 500px;
    background-color: #333;
    position: absolute;
    top: 430px;
    left: 60%;
    font-size: 20px;
    color: #fff;

}

#about .vision {
    width: 500px;
    background-color: #333;
    position: absolute;
    top: 670px;
    left: 60%;
    font-size: 20px;
    color: #fff;

}
.mission h1,.vision h1{
    position: relative;
    top: 12px;
}

#about .mission:hover,
#about .vision:hover {
    background-color: #505050;
    transition: 1s;
}

footer .text {
    color: #fff;
    position: absolute;
    top: 783%;
    left: 83%;
    text-align: left;
}

footer .text h6 {
    padding: 20px;
}

footer .text h6:hover {
    color: goldenrod;

}

footer .img h1 {
    position: absolute;
    top: 773%;
    right: 20px;
}

footer .links ul {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 795%;
    left: 45%;
}

footer .links ul li {
    display: flex;
    margin: 30px 15px;
}

footer .links ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

footer .links ul li a:hover {
    color: goldenrod;
    font-size: 25px;
}

footer .links h1 {
    color: #fff;
    position: absolute;
    top: 785%;
    left: 3%;
}

footer .logo {
    position: absolute;
    top: 790%;
    left: 100px;
}
